/* .button-curve {
}

.button-curve::before {
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #1f1e2b;
  top: -19px;
  right: 14px;
  position: absolute;
  border-top-left-radius: 50px;
} */
